html, body {
    font-family: 'Muli', sans-serif;
}

.goback button { 
    float: right;
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    /* background-color: transparent; */
    border: none;
    text-align: center;
    width: 10%;
}

.loop {
    text-align: left;
    vertical-align: middle;
    float: left;
    padding-top: 18%;
    padding-left: 38%;
    width: 100%;
    font-size: 5em;
}

.caption {
    text-align: center;
    padding-top: 30%;
}