<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>SkrtSafe</title>
    <link rel="stylesheet" href="{{url_for('static', filename='roads.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='calling.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_T8LTOKpg7oO6G9V21fRx2J_F-CawP14&libraries=drawing,places">
    </script>
    <script type=text/javascript charset="UTF-8" src="{{url_for('static', filename='roads.js')}}" type="module"></script>
    <!-- <script type=text/javascript charset="UTF-8" src="{{url_for('static', filename='calling.js')}}"></script> -->
</head>

<body>
  <div id="map"></div>
  <div id="bar">
    <p class="auto"><input type="text" placeholder="from" class="autoc" id="autoc_start"/></p>
    <p class="auto"><input type="text" placeholder="to" class="autoc" id="autoc_end"/></p>
    <!-- <button onclick="saveStart()">Confirm Start</button>
    <button onclick="saveEnd()">Confirm Destination</button> -->
    <button onclick="findRoute()">Route</button>
    <!-- <p id="saved_start">Start:</p>
    <p id="saved_end">End:</p> -->
    <button id="drive" onclick="startDrive()">Drive</button>
    <input type="text" placeholder="phone number" id="phone"/>
    <button id="advance" onclick="drive()">(advance)</button>
  </div>

  <div class="calling">
    <div class="goback"><button onclick="goToDemo()">Go to demo</button></div>
    <div class="loop"><p></p></div>
    <div class="caption"><p>(you can exit the window)</p></div>
  </div>
</body>
</html>